<div class="span12">
	<h1 class="text-center">Dashboard</h1>
	<hr>

	<div class="row-fluid">
		<% if admin_or_client_adviser? %>
		<div class="span3 well">
			<h2>CMS</h2>
			<p>
				Manage the Pages on your Site
			</p>
			<p>
				<a class="btn" href="/refinery">View details »</a>
			</p>
		</div>
		<div class="span3 well">
			<h2>Setttings</h2>
			<p>
				Manage colors, logo, etc
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<% end %>
		<div class="span3 well">
			<h2>Question Sets</h2>
			<p>
				Manage the Questions Sets
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="span3 well">
			<h2>Reports</h2>
			<p>
				See the results of your tests
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
	<hr>
</div>