<h1>Settings</h1>
<div class="settings-container">
    <div class="span6">
        <br>
        <br>
        <br>
        <% if Setting.count() == 0 %>
            <%= link_to 'Customize Settings', new_setting_path, class: "btn" %>
        <% else %>
        <%= render :partial => 'fields', :locals => { :setting => @settings } %>

        <%= link_to 'Edit Settings', edit_setting_path(@settings), class: "btn" %>

        <% end %>
    </div>
    <div class="span5">
        Demo here
    </div>
</div>