/*
 * This is a manifest file that'll be compiled into refinery.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 *= require_self
 *= require refinery/layout
 *= require refinery/site_bar
 *= require refinery/ui
 *= require refinery/submenu
 *= require refinery/tooltips
 *= require wymeditor/skins/refinery/skin
*/
@import 'bootstrap';

@mixin rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

#site_bar_content {
  height:47px;
  position: relative;
  margin: 0px auto 10px auto;
  text-align: left;
  width: 990px;
}
#site_bar {
  background: #22a7f2;
  border-bottom: 0px none;
}
a#site_bar_refinery_cms_logo {
  left: 448px;
}
#site_bar, #site_bar * {
  color: white;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
}
#editor_switch, #site_bar_branding, a#site_bar_refinery_cms_logo { position: absolute; }
#editor_switch {
  left: 0px;
  a, a:hover {
    line-height: 24px;
    cursor: pointer;
  }
  span {
    display: block;
    cursor: pointer;
  }
  a, span {
    @include rounded(6px);
  }
}
#site_bar {
  height: 42px;
  background: rgb(199, 199, 199);
  padding: 0px;
  * {
    line-height: 35px;
  }
  a {
    text-decoration: none;
  }
  #site_bar_branding {
    right: 0px;
    a {
      font-weight: normal;
      &#logout {
        margin-left: 12px;
      }
    }
  }
  #site_bar_company_name {
    font-weight: bold;
  }
}
a#site_bar_refinery_cms_logo {
  left: 44.5%;
  border-bottom: none;
  line-height: 29px;
  height: 29px;
  margin-top: 9px;
  overflow: hidden;
  &:hover {
    border-bottom: none;
    opacity: 1;
    img {
      margin-top: -29px;
    }
  }
}
.ie7 #site_bar #editor_switch a {
  height: 26px;
  line-height: 26px;
}
